{{/*
  netlify/FormatHeader
  Given a map detailed below, this will format a string using Netlify's `_headers` header format

  @author @regisphilibert

  @context Map
            String (.field)
            String|Slice (.value)

  @access private

  @use 
    - private/netlify/FormatValue

  @return String

  @example - Go Template
    {{ with partialCached "tnd-headers/private/netlify/FormatHeader" . . }}
      {{ . }}
    {{ end }}
*/}}
{{ $header := "" }}
{{ with .value }}
  {{ $value := partialCached "tnd-headers/private/netlify/FormatValue" $ $ }}
  {{ $header = printf `%s: %s` $.field $value }}
{{ end }}

{{ return $header }}