{{/*
  FormatValue
  Will format the value according to its field. For now, only CSP has its own formating.

  @author @regisphilibert

  @context Map
          String (.field)
          Map/Slice/String (.value)

  @access public

  @example - Go Template
    {{ $value := partialCached "tnd-headers/private/netlify/FormatValue" $ $ }}
*/}}
{{ $value := "" }}
{{ $field_id := urlize .field }}
{{ $partial := "tnd-headers/private/netlify/FormatValue/default.html" }}
{{ $partial_path := print "tnd-headers/private/netlify/FormatValue/" $field_id ".html" }}
{{ if templates.Exists (print "partials/" $partial_path) }}
  {{ $partial = $partial_path }}
{{ end }}
{{ with .value }}
  {{ $value = partialCached $partial . . }}
{{ end }}

{{ return $value }}
