{{/*
  PrivvatePartialExample

  @author 

  @context Type (.name)

  @access private

  @return Slices of Map
    - String (.target)
      Slices .values

  @example - Go Template
    {{ partial "path" context }}
    {{ partialCached "path" context "variant" }}
*/}}
{{ $headers := slice }}
{{ with partialCached "tnd-headers/private/GetConfig" "tnd-headers/GetConfig" "tnd-headers/GetConfig" }}
  {{ with .headers }}
    {{ $headers = $headers | append . }}
  {{ end }}
{{ end }}
{{ with partialCached "tnd-headers/AddHeaders" . }}
  {{ $headers = $headers | append . }}
{{ end }}
{{ $return := slice }}
{{ with $headers }}
  {{ range $header := . }}
    {{ $target := "/*" }}
    {{ with .target }}
      {{ $target = . }}
    {{ end }}
    {{ $weight := 0 }}
    {{ with .weight }}
      {{ $weight = int . }}
    {{ end }}
    {{ with $header.values }}
      {{ $values := slice }}
      {{ range . }}
        {{ $values = $values | append (dict "key" .key "value" .value) }}
      {{ end }}
      {{ $return = $return | append (dict "target" $target "weight" $weight "values" $values) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return sort $return "weight" "asc" }}